/* ===========================================================
                     General CSS
 ========================================================== */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
}

a {
  text-decoration: none;
}

/* ===========================================================
                     Navigation Bar
 ========================================================== */

.logo {
  height: 50px;
}

#brand-text {
  color: rgba(35, 106, 189, 0.86);
  font-size: 22px;
  margin-left: 10px;
  margin-bottom: 0;
}

.navbar-default .navbar-brand { /* Brand logo syle adjustment */
  margin-top: 0px;
  margin-bottom: 10px;
}

.navbar-nav { /* Navigation general padding */
  padding-top: 15px;
  padding-bottom: 15px;
}

 .nav.navbar-nav.navbar-right li a { /* Nav links */
  color: rgba(35, 106, 189, 0.86);
  font-size: 18px;
}
.nav.navbar-nav.navbar-right li a:hover { /* Nav links rollover */
  color: #55B567;
}

.navbar-default .navbar-toggle {  /* Hamburger Icon general style */
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-default .navbar-toggle .icon-bar { /* Hamburger Icon Bars */
  background-color: #55B567;
}

/* --------- Fixed Navigation Solution ----------- */

.navfix:before {  /* margin-top + height to size of navigation bar for fix */
  display: block;
  position: relative;
  margin-top: -80px;
  height: 80px;
  content: " ";
  visibility: hidden;
}

 /* ===========================================================
                        Jumbotron
 ========================================================== */

 .jumbotron {
   display: flex;
   height: 60vh;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   background: #4393D9 url("mountain3.png");
   background-size: cover;
   overflow: hidden;

   color: white;

 }

 .jumbo-text {
   margin: 30px;
   font-size: 1.5em;
   text-shadow: black 0.05em 0.05em 0.05em;
   text-align: center;
 }

 .quote-button {
   width: 250px;
   height: 50px;
   background-color: #55B567;
   color: white;
   padding: 10px;
   border-radius: 20px;
   font-size: 1.3em;
   text-align: center;
   text-direction: none;
   margin: 20px auto;
   transition: all 0.3s ease;
 }


.quote-button:hover, .quote-button:active {
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 30px 2px #55B567;
    -moz-box-shadow: 0px 0px 30px 2px #55B567;
    -webkit-box-shadow: 0px 0px 30px 2px #55B567;
}

 /* ===========================================================
                       Our Services
 ========================================================== */

#services-container {
  padding-top: 40px;
  padding-bottom: 50px;
}

.serv-item {

  margin-bottom: 20px;
}

.fa-home {
  color: #38A0E0;
}

.fa-building {
  color: #EB5B5B;
}

.fa-star {
  color: #F2CC1F;
}

.fa-leaf {
  color: #79DE5D;
}

 /* ===========================================================
                        About Us
 ========================================================== */

#story-background {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #55B567;
  color: white;
}

#story-background > h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

.photograph > img {
  height: 300px;
  width: 300px;
  border: solid 15px white;
  float: right;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 20px;
}

/* ===========================================================
                        Testimonials
========================================================== */

#testimonial-background {
 padding-top: 70px;
 padding-bottom: 70px;
 background: #38A0E0;
 color: white;
}

#testimonial-background > .container {
 display: flex;
 justify-content: center;
}

.carousel-cell {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px 15%;
  text-align: center;
}

.flickity-page-dots .dot {
  width: 14px;
  height: 14px;
  opacity: 0.2;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}


 /* ===========================================================
                         Pricing
 ========================================================== */

#pricing-background {
  padding-top: 50px;
  padding-bottom: 50px;
}

.price-text {
  display: flex;
  margin: 20px;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
}

#quote {
  color: white;
  text-shadow: none;
  font-size: 1em;
}
 /* ===========================================================
                       Contact
 ========================================================== */

 #contact-background {
   padding-top: 50px;
   padding-bottom: 40px;
   background-color: #3F6470;
   color: white;
 }

 #contact-background > .container {
   margin-top: 20px;
   display: flex;
   justify-content: center;
 }

 .fa-facebook-square, .fa-twitter-square, .fa-instagram {
   color: white;
   margin-right: 5px;
   margin-left: 5px;
 }

 .fa-facebook-square:hover, .fa-twitter-square:hover, .fa-instagram:hover {
   color: #55B567;
 }

 .signature {
   margin-top: 40px;
   color: #B6BDBF;
 }

 .signature > a {
   color: #D3D9DB;
 }

 .signature > a:hover {
   text-decoration: none;
   color: #55B567;
 }

 /* ===========================================================
                       Media Queries
 ========================================================== */

 @media screen and (max-width: 767px) {
   .jumbo-text {
     font-size: 1.2em;
   }
   .photograph > img {
     float: none;
     display: block;
     margin: 0;
     margin-left: auto;
     margin-right: auto;
     margin-top: 15px;
     margin-bottom: 15px;
     border-radius: 80px;
   }
   .foot-item {
     margin-top: 25px;
   }
 }
