/* ===========================================================
                     General CSS
 ========================================================== */

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

a {
  text-decoration: none;
}

/* ===========================================================
                     Navigation Bar
 ========================================================== */

.logo {
  height: 50px;
}

#brand-text {
  color: rgba(35, 106, 189, 0.86);
  /*font-weight: bold;*/
  font-size: 22px;
  margin-left: 10px;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  margin-top: 0px;
  margin-bottom: 10px;
}

.navbar-nav {
  padding-top: 15px;
  padding-bottom: 15px;
}

 .nav.navbar-nav.navbar-right li a {
  color: rgba(35, 106, 189, 0.86);
  font-size: 18px;
}
.nav.navbar-nav.navbar-right li a:hover {
  color: #55B567;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/* --------- Fixed Navigation Solution ----------- */

.navfix:before {
  display: block;
  position: relative;
  margin-top: -80px;
  height: 80px;
  content: " ";
  visibility: hidden;
}

 /* ===========================================================
                        Jumbotron
 ========================================================== */

 .jumbotron {
   display: flex;
   height: 60vh;
   justify-content: center;
   align-items: center;
   flex-direction: column;

   background: #000 url("../imgs/mountain.jpg") top;
   background-size: cover;
   overflow: hidden;

   color: white;

 }

 .jumbo-text {
   margin-bottom: 30px;
   font-size: 1.5em;
   text-shadow: black 0.05em 0.05em 0.05em;
 }

 .quote-button {
   width: 250px;
   height: 50px;
   background-color: #55B567;
   color: white;
   padding: 10px;
   border-radius: 20px;
   font-size: 1.3em;
   text-align: center;
   text-direction: none;
   margin: 20px auto;
 }


.quote-button:hover, .quote-button:active {
    color: white;
    text-decoration: none;
    box-shadow: 0px 0px 30px 2px #55B567;
    -moz-box-shadow: 0px 0px 30px 2px #55B567;
    -webkit-box-shadow: 0px 0px 30px 2px #55B567;
}

 /* ===========================================================
                       Our Services
 ========================================================== */

#services-container {
  padding-top: 40px;
  padding-bottom: 50px;
}

.serv-item {

  margin-bottom: 20px;
}

.fa-home {
  color: #38A0E0;
}

.fa-building {
  color: #EB5B5B;
}

.fa-star {
  color: #F2CC1F;
}

.fa-leaf {
  color: #79DE5D;
}

 /* ===========================================================
                        About Us
 ========================================================== */

#story-background {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #55B567;
  color: white;
}

#story-background > h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

.photograph > img {
  height: 300px;
  width: 300px;
  border: solid 15px white;
  float: right;
  border-radius: 10px;
  margin-left: 50px;
}

.about-text {
  margin-bottom: 20px;
}

/* ===========================================================
                        Testimonials
========================================================== */

/*#testimonial-background {
 padding-top: 50px;
 padding-bottom: 50px;
}

#testimonial-background > .container {
 display: flex;
 justify-content: center;
}*/


 /* ===========================================================
                         Pricing
 ========================================================== */

#pricing-background {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*#pricing-background > .container {

}*/

.price-text {
  display: flex;
  margin: 20px;
  justify-content: center;
  font-size: 1.5em;
}

#quote {
  color: white;
  text-shadow: none;
  font-size: 1em;
}
 /* ===========================================================
                       Contact
 ========================================================== */

 #contact-background {
   padding-top: 50px;
   padding-bottom: 40px;
   background-color: #3F6470;
   color: white;
 }

 #contact-background > .container {
   margin-top: 20px;
   display: flex;
   justify-content: center;
 }

 .fa-facebook-square, .fa-twitter-square, .fa-instagram {
   color: white;
   margin-right: 5px;
   margin-left: 5px;
 }

 .fa-facebook-square:hover, .fa-twitter-square:hover, .fa-instagram:hover {
   color: #55B567;
 }

 .signature {
   margin-top: 40px;
   color: #B6BDBF;
 }

 .signature > a {
   color: #D3D9DB;
 }

 .signature > a:hover {
   text-decoration: none;
   color: #55B567;
 }
